#content {
    width: 900px;
}

h2 {
    color: #241C3E;
    font-weight: 700;
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    color: #241C3E;
    font-weight: 700;
    font-size: 110%;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

li {
    padding: 5px;
    border-radius: 2px;
}

ul {
    padding: 0;
    margin-right: 40px;
    max-width: 260px;
    list-style: none;
}

ol {
    padding: 0;
    margin: 0;
    margin-left: 15px;
    max-width: 450px;
}

li:hover {
    background: linear-gradient(to right, rgba(212,206,191,0.2), rgba(212,206,191,0));
}

.outline-2 {
    float: left;
}
