#filterInput {
    background: #EEEEEE;
    width: 45%;
    text-align: left;
    font-size: 100%;
    padding: 4px;
    margin: 0;
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 4px;
}
