/* Loosely based on - https://codepen.io/THEORLAN2/pen/bpBeyv */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 12pt;
}

html {
  height: 100%;
  background: linear-gradient(135deg,
    rgba(251,250,246,1) 9%,
    rgba(212,206,191,1) 74%,
    rgba(212,206,191,1) 100%);
  background: linear-gradient(135deg, #ff450000 9%, #ff450011 44%, #ff450033 100%);
  background-attachment: fixed;
}

body {
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;
}

h1 {
  text-align: center;
  font-size: 150%;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}