@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html {
    min-height: 100%;
}

body {
    height: 100%;
    font-family: Lora, serif;
    font-size: 13px;
    line-height: 1.4;
    background: linear-gradient(
        to bottom,
        #ddd,
        #ccc);
}

#content {
    color: #444;
    background: #FFF;
    width: 80%;
    overflow-y: auto;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    padding: 7%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    box-shadow: 1px 1px  20px  -5px  rgba(0,0,0,0.2);
}

h1 { /* Title */
    color: #241C3E;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    font-size: 200%;
    border-bottom: 3px solid #EDEDEC;
    padding-bottom: 1.5rem;
}

#org-div-home-and-up {
    text-align: center;
    font-size: 90%;
    padding-top: 0.5rem;
    text-transform: lowercase;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    text-shadow: 2px 2px 2px lightgrey;
}
