#content {
    width: 900px;
}

h2 {
    color: #241C3E;
    font-weight: bold;
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    color: #241C3E;
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
    padding: 0;
    margin: 0;
}

li {
    padding: 3px;
    border-radius: 2px;
}

ul {
    padding: 0;
    margin-right: 40px;
    max-width: 260px;
    list-style: none;
}

ol {
    padding: 0;
    margin: 0;
    margin-left: 15px;
    max-width: 450px;
}

li:hover {
    background: linear-gradient(to right, rgba(212,206,191,0.2), rgba(212,206,191,0));
}

.outline-2 {
    float: left;
}

table, tbody, colgroup {
    border: none;
}

table {
    font-family: Sans;
    font-size: 70%;
    border: black 1px solid;
}

td, th {
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

th.org-left {
    text-align: left;
    font-size: 120%;
    border-bottom: black 1px solid;
}

.outline-2 {
    min-width: 20%;
    margin-right: 20px;
}