#content {
    max-width: 55rem;
}

.outline-2 {
    padding-right: 1rem;;
}

h2 {
    color: #241C3E;
    font-weight: bold;
    font-size: 120%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    color: #241C3E;
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    max-width: 30ch;
    list-style: none;
}

ol {
    padding: 0;
    margin: 0;
    margin-left: 2ch;
    max-width: 60ch;
}

li {
    padding: 0.2rem;
    padding-left: 0.3rem;
    border-radius: 3px;
}

li:hover {
    background: #eee;
    transition-duration: 0.5s;
}

.outline-2 {
    float: left;
}

table, tbody, colgroup {
    border: none;
}

table {
    font-family: Sans;
    font-size: 70%;
    border: black 1px solid;
}

td, th {
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

th.org-left {
    text-align: left;
    font-size: 120%;
    border-bottom: black 1px solid;
}
