@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  
  --main-colour: #6b705c;
  --secondary-colour: #bc6c25;
  
  --search-bar: #b7b7a4;
}

html {
  min-height: 100%;
  background: linear-gradient(to bottom, var(--main-colour) 3rem, white 0, white 100%);
}

#org-div-home-and-up {
  display: flex;
  align-items: center;
  height: 3rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
#org-div-home-and-up a {
  color: var(--search-bar);
  margin-left: 0.3rem;
}
#org-div-home-and-up a:before {
  background-color: var(--search-bar);
}

#org-div-home-and-up::before {
  content: "";
  background-image: url("../static/home-icon.svg");
  height: 1.8rem;
  width: 1.8rem;
  background-size: 1.8rem 1.8rem;
}

#content {
  margin-left: 10%;
  padding-bottom: 5rem;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.08rem;
  font-weight: normal;
}

h1 {
  font-family: Montserrat;
  font-weight: 500;
  text-transform: lowercase;
  font-size: 48px;
  padding-top: 4rem;
}
h2 {
  font-weight: normal;
  padding-top: 2rem;
  padding-bottom: 0.3rem;
}
h3 {
  font-size: 100%;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  position: relative;
  font-family: Montserrat;
  font-size: 13px;
  color: var(--secondary-colour);
  text-transform: uppercase;
  text-decoration: none;
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-colour);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.1s ease-in-out;
}
a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}


.outline-2 {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  max-width: 60ch;
  min-width: 35ch;
  width: 90%;
  padding-top: 2rem;
  padding-right: 5%;
}
.ingredients {
  width: 35ch;
  text-align: left;
}

li {
  list-style: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  line-height: 1.1;
}
ol {
  counter-reset: step;
}
li a {
  font-family: Roboto;
  font-size: 100%;
  text-transform: none;
}
ol li::before {
  display: block;
  counter-increment: step;
  content: "Step " counter(step);
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}
ol li {
  line-height: 1.4;
  letter-spacing: 0.04rem;
}


/* Checkbox */
.check {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.check input[type=checkbox] {
  display: none;
}
.check span {
  position: relative;
  float: left;
  margin-left: -1.5rem;
  margin-right: 0.5rem;
  height: 0.8rem;
  width: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
}
[type=checkbox]:checked + span {
  background-color: var(--secondary-colour);
  border: 2px solid var(--secondary-colour);
  
}
[type=checkbox]:checked + span:before {
  content: "";
  background-image: url(../static/tick-mark.svg);
  height: 0.8rem;
  width: 0.8rem;
  background-size: 0.8rem 0.8rem;
  position: absolute;
  top: -2px;
  left: -2px;
}

#btns {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 0rem;
  height: 3rem;
}
button {
  width: 2rem;
  height: 1.5rem;
  border: none;
  border-radius: 4px;
  
  color: var(--main-color);
  background-color: var(--search-bar);
/*   background: none; */
  margin-left: 1rem;
}
button:hover {
  color: #333;
  cursor: pointer;
}
button:active {
  transform: translate(1px, 1px);
}
#copy-btn {
  content: "";
  background-image: url("../static/copy-icon.svg");
  background-size: 100% 100%;
}
#untick-btn {
  content: "";
  background-image: url("../static/refresh-icon.svg");
  background-size: 100% 100%;
}

/* Notification */
#notify {
  position: absolute;
  visibility: hidden;
  top: 4rem;
  right: 1rem;
  font-family: Roboto;
  color: var(--main-colour);
  padding: 0.5rem;
  width: 13ch;
  background-color: #0001;
  border-radius: 4px;
  text-align: center;
  box-shadow: #ddd 2px 2px 2px;
  pointer-events: none;
}